body{
    background: rgba(207, 198, 231, 0.788);
}
nav { 
    display: flex;
    align-items: center;
    justify-content: space-between;
 position: absolute;
 width: 100%;
 top: 0;
 left: 0;
  z-index: 5;
}
 .logo{
color: antiquewhite;    
font-size: xx-large;
}
 nav ul li  a{
color: #000;
font-size: small; 
list-style: none;
padding: 60px;
    font-size: large;
    z-index: 999;
    text-decoration: none; 
}

ul li a:hover{
    color: rgba(5, 5, 5, 0.39);
}

nav ul li{ 

color: antiquewhite;
font-size: small; 
display: inline-block;
list-style: none;
z-index: 999;
text-decoration: none;}
section{
    width:100%;
    height: 100vh;
    position: relative;
    display: flex;justify-content: end;
    align-items: center;

}
section .img{
    width: 50%;
    left: -10px;;
    position: absolute;
    height:600px;

border-bottom-right-radius: 70%;
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url( images/ccccc.jpg);
background-size: cover;
background-position: center;
display: flex ;justify-content: center;
align-items: center;
top: 50px;
}
section .img h1{
    font-size:50px ;
    color: #eee;
    animation: top-buttom 2s infinite linear;
    transition: all .5s;

}
@keyframes top-buttom {
    0%{   
        font-size: 50px;
    }
    50%{
        font-size: 65px;
    }
    100%{
        font-size: 50px;
    }
}





section form{
    display: flex;justify-content: center;
    align-items: center;flex-direction: column;
    width:40%;
    padding: 0 50px;

}
section form input{
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #bbb;
    padding-left: 8px;
    background-color: transparent;
    margin: 15px 0;

}
section form textarea{
    width: 100%;
    height: 60px;
    padding: 12px ;
    border-radius:9px;
background-color: transparent;
}
section form button{
    width: 170px;
    height: 45px;
    background-color: #333;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
    margin-top: 35px;
    
}
section form button:hover{
    background-color: #000;


}
  